@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("Slidebar")
    </div>
    <div class="col-md-9">
        @await Component.InvokeAsync("EmployeeTable", new {skip = 0, take = 5})
    </div>
</div>
