@model ArtsofteClient.ViewModels.CreateEmployeeViewModel

<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <h1>Create Employee</h1>
        @using (Html.BeginForm("CreateEmployee", "Employee", FormMethod.Post))
        {
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="" required>
        </div>
        <div class="mb-3">
            <label for="surname" class="form-label">Surname</label>
            <input type="text" class="form-control" id="surname" name="surname" value="" required>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" id="age" name="age" value="" required>
        </div>
        <div class="mb-3">
            <label for="languageId" class="form-label">Language</label>
            <select class="form-select" name="languageId" aria-label="Default select example" required>
                <option selected disabled value="">Select Language</option>
                @foreach (var language in Model.Languages)
                {
                <option value="@language.Id">
                    @language.Language
                </option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="departmentId" class="form-label">Department</label>
            <select class="form-select" name="departmentId" aria-label="Default select example" required>
                <option selected disabled value="">Select Department</option>
                @foreach (var department in Model.Departments)
                {
                <option value="@department.Id">
                    @department.Name
                </option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="gender" class="form-label">Department</label>
            <select class="form-select" name="gender" aria-label="Default select example" required>
                <option selected disabled value="">Select Gender</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 60px">Create Employee</button>
        }
    </div>
</div>
